DB_CONNECTION=Server=.\sqlexpress;Database=LuxeVoyage_BookingDb;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=true
RABBITMQ_HOST=localhost
RABBITMQ_VHOST=/
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
