DB_CONNECTION=Server=.\sqlexpress;Database=LuxeVoyage_AuthDb;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=true
JWT_SECRET=your_jwt_secret_min_32_chars
JWT_ISSUER=StayEasy
JWT_AUDIENCE=StayEasyClient
JWT_EXPIRY_MINUTES=120
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
RABBITMQ_HOST=localhost
RABBITMQ_VHOST=/
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
