DB_CONNECTION=Server=.\sqlexpress;Database=LuxVoyage_HotelDb;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=true
JWT_SECRET=your_jwt_secret_min_32_chars
JWT_ISSUER=StayEasy
JWT_AUDIENCE=StayEasyClient
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
RABBITMQ_HOST=localhost
RABBITMQ_VHOST=/
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
